.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}
.card {
  border: 1px solid green;
  width: 100%;
  max-width: 250px;
}
.cart {
  position: relative;
}
#totalItems {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 20px;
  background-color: red;
}
.liststyle {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
